.play {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #f6f6f8;
  border-top: 1px solid #e1e1e2;
  display: flex;
  align-items: center;
  z-index: 10;
  .play-btn {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    button {
      padding: 0;
      border: 1px solid #f1c6c8;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      background-color: #e83c3c;
      cursor: pointer;
      transition: all 0.2s;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
      }
      &:hover {
        background-color: #d33030;
      }
      &:focus {
        outline: 0;
      }
      &.play-btn-audioPlay {
        width: 35px;
        height: 35px;
        line-height: 40px;
        i {
          background: url("../../asset/img/icon/paly.png") no-repeat 2px 0;
          background-size: cover;
        }
      }
      &.play-btn-audioPause {
        width: 35px;
        height: 35px;
        line-height: 40px;
        i {
          background: url("../../asset/img/icon/pause.png") no-repeat 2px 0;
          background-size: cover;
        }
      }
      &.play-btn-prev {
        i {
          background: url("../../asset/img/icon/prev-play.png") no-repeat -1px -1px;
          background-size: cover;
        }
      }
      &.play-btn-next {
        i {
          background: url("../../asset/img/icon/next-play.png") no-repeat -1px -1px;
          background-size: cover;
        }
      }
    }
  }
  .play-info-volume {
    width: 95px;
  }
  .play-time {
    flex: 1;
    display: flex;
    align-items: center;
    audio {
      display: none;
    }
    .ant-progress-inner {
      top: -2px;
      background-color: #c2c2c4;
    }
    .currentTime {
      margin-right: 15px;
      user-select: none;
    }
    .duration {
      margin-left: 15px;
      user-select: none;
    }
  }
  .play-info {
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: 350px;
    flex-shrink: 0;
    .play-info-switch {
      margin-right: 5px;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 4px;
        cursor: pointer;
        &.up {
          background: url("../../asset/img/icon/volume-medium.png") no-repeat;
          background-size: cover;
        }
        &.down {
          background: url("../../asset/img/icon/volume-mute.png") no-repeat;
          background-size: cover;
        }
      }
    }
    .play-info-action {
      display: flex;
      align-items: center;
      i {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: 20px;
        &.play-list {
          background: url("../../asset/img/icon/play-list.png") no-repeat;
          background-size: cover;
        }
        &.random-play {
          background: url("../../asset/img/icon/random-play.png") no-repeat;
          background-size: cover;
        }
        &.sequential-play {
          background: url("../../asset/img/icon/sequential-play.png") no-repeat;
          background-size: cover;
        }
        &.loop-play {
          background: url("../../asset/img/icon/loop-play.png") no-repeat;
          background-size: cover;
        }
        &.single-play {
          background: url("../../asset/img/icon/single-play.png") no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
